<script type="text/javascript">
  $(function(){
    <% if current_user %>
      $(".visible a.edit[data-uid='<%= current_user.id %>']").show();
    <% end %>
    $('.comment-btn[data-count!=0]').click();
  })
</script>

<%= render 'replies/emoji_selector' %>

<div class="panel panel-info">
  <div class="panel-heading total-replies">
    共 <b><%= @topic.replies_count %></b> 条回复
  </div>

  <% @replies.each_with_index do |reply, floor| %>
    <% if reply.deleted? %>
      <div class="deleted text-center">
        <%= floor + 1 %>楼已删除
      </div>
    <% elsif reply.action.present? %>
      <div class="event"><%= render 'replies/event', reply: reply %></div>
    <% else %>
      <div class="panel-body media reply-item">
        <div class="media-left col-md-2 reply-user-info" data-id= <%= reply.id %>>
          <div class="avatar">
            <%= link_to user_avatar_tag(reply.user, 80), user_path(reply.user.username), method: :get %>
          </div>
          <div class="reply-user-name">
            <%= link_to reply.user.nickname, user_path(reply.user.username), method: :get %>
          </div>
        </div>
      
        <div class="media-body reply-body <%= reply.popular? %>" data-id=<%= reply.id %>>
          <div class='reply-praise'>
            <%= button_tag data: {id: reply.id, table: reply.class.name}, class: 'btn praise-btn' do %>
              <%= current_user.praise_reply?(reply) ? fa_icon('thumbs-up') : fa_icon('thumbs-o-up') %>
              <span class='praises-count' style="font-size: 14px;">
                <%= "#{reply.praises_count} 个赞" unless reply.praises_count.zero? %>
              </span>
            <% end %>
          </div>

          <div class="reply-content"><%= emojify reply.body %></div>
          <%= button_tag data: { id: reply.id, count: reply.comments_count }, class: 'btn comment-btn' do %>
             讨论
             <span class="comments-count" data-id=<%= reply.id %>>
               <%= "(#{reply.comments_count})" unless reply.comments_count.zero? %></span>
             <%= fa_icon 'angle-down', class: 'arrow', 'data-id' => reply.id %>
           <% end %>
          <div class="reply-date"><%= reply.created_at.strftime("%Y-%m-%d %H:%M") %></div>
          <div class="reply-floor"><%= floor + 1 %>楼&nbsp&nbsp</div>
          <div class="visible">
          <%= link_to '编辑', edit_topic_reply_path(@topic, reply), class: 'edit', 'data-uid' => reply.user_id %>
          <%= link_to '删除', topic_reply_path(@topic, reply), method: :delete, data: { confirm: '你确定要删除这条回复吗？' }, remote: :true, class: 'edit', 'data-uid' => reply.user_id %>
          </div>
          
          <%= render 'comments/comment', reply: reply %>
          <div style="clear: both;"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">回帖
  <span style="float: right;">
    <a class="emoji-btn" id="emoji-selector-button" data-toggle="modal" data-target="#emoji-selector"><%= fa_icon 'smile-o' %></a>
  </span></div>

  <div class="panel-body">
    <% if user_signed_in? %>
      <%= form_for(Reply.new, remote: true, url: topic_replies_path(@topic)) do |f| %>
        <%= f.text_area :body, size: '80x5', minlength: 2 %> <br />
        <%= f.hidden_field :topic_id, value: @topic.id %>
        <%= f.submit '提交回复', class: 'btn btn-primary submit-reply-btn' %>
      <% end %>
    <% else %>需要
      <%= link_to '登录', new_user_session_path %>
      后才能回复，如果你还没有账号，赶快
      <%= link_to '点击这里', new_user_registration_path, method: :get %>
      加入锦城之家吧！
    <% end %>
  </div>
</div>