<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">注册新用户</h3>
      </div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <dl>
            <dt><%= f.label "账  号" %></dt>
            <dd><%= f.text_field :username, autofocus: true %></dd>
          </dl>

          <dl>
            <dt><%= f.label "密  码" %></dt>
            <dd><%= f.password_field :password, autocomplete: "off" %></dd>
          </dl>

          <dl>
            <dt><%= f.label "确认密码" %></dt>
            <dd><%= f.password_field :password_confirmation, autocomplete: "off" %></dd>
          </dl>

          <dl>
            <dt><%= f.label "邮箱" %></dt>
            <dd><%= f.email_field :email, autocomplete: true %></dd>
          </dl>

          <dl class="form-group">
            <dt><%= f.label "验证码" %></dt>
            <dd>
              <%= rucaptcha_input_tag %>
              <a class="rucaptcha_image_box" href="#"><%= rucaptcha_image_tag(alt: '验证码，点击刷新') %></a>
            </dd>
          </dl>

          <div class="text-center">
            <%= f.submit "提交", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

