<script type="text/javascript">
  var height = localStorage.getItem("Ltop");
  if (height){
    document.documentElement.scrollTop = height;
  }
  window.addEventListener("scroll", function(){  
    var top = document.documentElement.scrollTop;
    localStorage.setItem("Ltop", top);
  })
</script>

<div class="comment-container" data-id=<%= reply.id %> data-count=<%= reply.comments_count %>>
  <% reply.comments.page(params["c#{reply.id}"]).each do |comment| %>
    <div class="media comment-item">
      <div class="media-left">
        <span class="avatar">
          <%= link_to user_avatar_tag(comment.user, 36), user_path(comment.user.username), method: :get %>
        </span>
        <span class="reply-user-name">
          <%= link_to reply.user.nickname, user_path(reply.user.username), method: :get %>
        </span>
      </div>

      <span class="media-body comment-body">
        <div class="comment-content"><%= comment.body %></div>
        <div class="comment-date"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></div>
      </span>
    </div>
  <% end %>
  <%= will_paginate reply.comments.page(params["c#{reply.id}"]), param_name: "c#{reply.id}" %>

  <% if user_signed_in? %>
    <%= render 'comments/comment_form', reply: reply %>
  <% end %>
</div>
