<div class="panel">
  <div class="panel-heading media">
    <div class="media-left">
      <%= user_avatar_tag @topic.user, 45 %>
    </div>
    <div class="media-body">
      <div class="media-heading">
        <%= link_to @topic.node.name, node_path(@topic.node.id) %>
        <%= @topic.title %>
      </div>
      <div class="media-info">
        由 <%= link_to @topic.user.nickname, user_path(@topic.user.nickname) %> 发布于 <%= time_ago_in_words(@topic.created_at) %> · 
        <% if @topic.replies_count > 0 %>
           最后由 <%= link_to @topic.last_reply_user_nickname, user_path(@topic.last_reply_user_nickname) %> 
           回复于 <%= time_ago_in_words @topic.last_reply_at %>
        <% end %>
      </div>
    </div> 
  </div>

  <div class="panel-body">
    <%= @topic.body %>
  </div>
</div>

<br>
回复总数： <%= @topic.replies_count %>
<br>

<% @replies.each do |reply| %>
  <%= link_to reply.user.nickname, user_path(reply.user.nickname) %>
  <%= reply.body %>
<% end %>

<%= render 'replies/reply' %>