<div class="container main-container">
  <div class="col-md-10 float-left">
    <div class="panel panel-default topic-panel <%= @topic.popular? %>">
      <div class="panel-heading media">
        <div class="media-left avatar">
          <%= link_to user_avatar_tag(@topic.user, 45), user_path(@topic.user.username), method: :get %>
        </div>
        <div class="media-body">
          <div class="media-heading">
            <span class="node"><%= link_to @topic.node.name, node_path(@topic.node.id) %></span>
            <span class="topic-show-title"><%= @topic.title %></span>
            <span class="topic-show-excellent"><%= image_tag "excellent_show.gif" if @topic.is_excellent %></span>
          </div>
          <div class="media-info topic-show-info">
            <%= link_to @topic.user.nickname, user_path(@topic.user.username), method: :get %> 发布于 <%= time_ago_in_words(@topic.created_at) %>  
            <% if @topic.replies_count > 0 %>
              · 最后由 <%= link_to @topic.last_reply_user_nickname, user_path(@topic.last_reply_user_username), method: :get %> 
              回复于 <%= time_ago_in_words @topic.last_reply_at %>
            <% end %>
             · <%= @topic.view_times %> 次阅读
          </div>
        </div> 
      </div>

      <div class="panel-body">
        <% if @topic.node_id == 7 %>
          <%= render 'resource_body' %>
        <% else %>
          <%== @topic.body %>
        <% end %>
      </div>
    </div>

    <div class="reply"><%= render 'replies/reply' %></div>
  </div>
  <div class="sidebar col-md-2">
    <%= render 'sidebar' %>
  </div>
</div>