<div class="sidebar col-md-3">
  <div class="avatar">
    <%= user_avatar_tag(@user, 160) %>
  </div>

  <div class="profile">
    <% case @user.gender %>
    <% when 'male' %>
      <%= fa_icon 'mars', class: 'gender_male' %>
    <% when 'female' %>
      <%= fa_icon 'venus', class: 'gender_female' %>
    <% end %>
    <%= @user.nickname %>

    <div class="info">
      第 <%= @user.id %> 位成员 ·  
      <%= @user.created_at.strftime("%Y年%m月%d日") %>加入
      <div><%= @user.signature %></div>
      <div role="separator" class="divider"></div>

      <ul class="user-details">
      <% if @user.school.present? %>
        <li><%= fa_icon 'university' %> <%= @user.school %></li>
      <% end %>

      <% if @user.major.present? %>
        <li><%= fa_icon 'graduation-cap' %> <%= @user.major %></li>
      <% end %>

      <% if @user.city.present? %>
        <li><%= fa_icon 'map-marker' %> <%= ChinaCity.get(@user.city) %></li>
      <% end %>

      <% if @user.qq.present? %>
        <li><%= fa_icon 'qq' %> <%= @user.qq %></li>
      <% end %>

      <% if @user.wechat.present? %>
        <li><%= fa_icon 'wechat' %> <%= @user.wechat %></li>
      <% end %>
      </ul>
      <div role="separator" class="divider optional-divider"></div>
    </div>
  </div>
</div>