<table class="user-topics">
  <tr>
    <th>分类</th>
    <th class="title">标题</th>
    <th>回复/点赞</th>
  </tr>
  <% @topics.each do |topic| %>
    <tr class="topic <%= cycle("odd","") %>">
      <td class="node"><%= link_to topic.node.name, node_path(topic.node) %></td>
      <td class="title"><%= link_to topic.title, topic_path(topic) %>
      <span class="date"><%= topic.created_at.strftime("%Y年%m月%d日") %></span></td>
      <td><%= topic.replies_count %> / <%= topic.praise_count %> </td>
    </tr>
  <% end %>
</table>