<div class="container main-container">
  <%= render 'sidebar' %>

  <div class="col-md-8 float-left">
    <%= render 'menu' %>
    <div class="user-replies">
      <% @replies.each do |reply| %>
        <div class="user-reply-item">
          <div>
            <%= link_to reply.topic.title, topic_path(reply.topic) %>
            <span class="date">回复于 <%= time_ago_in_words reply.created_at %></span>
          </div>
          <div class="user-reply-body">
            <%= reply.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>