<div class="sidebar col-md-4">
  <div class="panel profile panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <%= user_avatar_tag(@user, 100) %>
        </div>

        <div class="media-body">
          <%= @user.nickname %>

          <% case @user.gender %>
          <% when 'male' %>
            <%= fa_icon 'mars', class: 'gender_male' %>
          <% when 'female' %>
            <%= fa_icon 'venus', class: 'gender_female' %>
          <% else %>
          <% end %>
          
          <%= ChinaCity.get(@user.city) %>

          <br>

          第<%= @user.id %>位成员 

          加入时间: <%= @user.created_at.to_date %>

          <br>

          学院：<%= @user.school %>
          专业：<%= @user.major %>

          <br>

          <%= @user.topics_count %>篇帖子 | 
          <%= @user.replies_count %>条回帖

          <br>

          <div class="follow-info row hide-ios">
            <div class="col-xs-4 followers" data-login="<%= @user.login %>">
              <%= @user.following_count %>
              <div>关注者</div>
            </div>
            <div class="col-xs-4 following">
              <%= @user.followers_count %>
              <div>正在关注</div>
            </div>
          </div>

          <%= @user.qq %>
          <%= @user.wechat %>
          个性签名<%= @user.signature %>
        </div>
      </div>
    </div>
  </div>
</div>
