<div class="main-container">
<div class="sidebar col-md-4">
  <div class="panel profile panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <%= user_avatar_tag(@user, 96) %>
        </div>

        <div class="media-body">
          <% case @user.gender %>
          <% when 'male' %>
            <%= fa_icon 'mars', class: 'gender_male' %>
          <% when 'female' %>
            <%= fa_icon 'venus', class: 'gender_female' %>
          <% else %>
          <% end %>
          <%= @user.nickname %>&nbsp&nbsp

          <br>

          第 <%= @user.id %> 位成员  &nbsp&nbsp

          加入时间: <%= @user.created_at.to_date %>
          <br>
         
          <%= ChinaCity.get(@user.city) %>


          <br>
          <%= @user.qq %>
          <%= @user.wechat %>

          学院：<%= @user.school %>
          专业：<%= @user.major %>

          <br>

          <%= @user.topics_count %>篇帖子 | 
          <%= @user.replies_count %>条回帖
        </div>

          <br>
          <div role="separator" class="divider"></div>


       
      
      </div>
         <div class="follow-info row hide-ios">
            <div class="col-xs-4 followers" data-login="<%= @user.login %>">
              <%= @user.following_count %>
              <div>关注者</div>
            </div>
            <div class="col-xs-4 following">
              <%= @user.followers_count %>
              <div>正在关注</div>
            </div>
          </div>

          个性签名<%= @user.signature %>
    </div>
  </div>
</div>
</div>
<div style="font-size: 36px; font-weight: bold;">程序猿脑壳混乱了，这个页面明天再来写</div> 
