<%= render 'menu' %>

<div class="panel-body">
  <%= form_for(@user, url: setting_path, html: { method: :put }) do |f| %>
    <%= render "shared/error_messages", target: @user %>
    <input type="hidden" name="by" value="password" />

    <div>
      <%= f.label :current_password %> 
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :password %> 
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    
    <%= f.submit "修改密码", class: 'btn btn-success' %>
<% end %>
