 <h1> 锦城之家 </h1>

<div class="user">
<!-- Login -->
	<%= form_tag sessions_path do %>
		<%= label_tag(:login, "账号") %>
		<%= text_field_tag :login, params[:login], size: 10 %> 	<br>
		<%= label_tag(:password, "密码") %>
		<%= password_field_tag :password, params[:password], size: 10 %>
		<%= submit_tag "登陆" %>
	<% end %>
<!-- register -->
<%= button_to('注册', 'applicants/new', method: :get) %>
  
</div>

<div class="bg">
<div class="navigation">
	<span>重要通知</span>
	<span>晚点名</span>
	<span>下课聊</span>

</div>
</div>

	<div class="b">
		<p>这是重要通知</p>
	</div>