<div class="container main-container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">登录</h3>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <dl>
            <dt><%= f.label :账号 %></dt>
            <dd><%= f.text_field :login, placeholder: '用户名/邮箱', autofocus: true %></dd>
          </dl>

          <dl>
            <dt><%= f.label :密码 %></dt>
            <dd><%= f.password_field :password, autocomplete: "off" %></dd>
          </dl>

          <% if devise_mapping.rememberable? -%>
            <div class="text-center">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="text-center">
            <%= f.submit "登录", data: { disable_with: '登录中..' }, class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div class="text-center"><%= render "devise/shared/links" %></div>

      </div>
    </div>
  </div>
</div>

