<%= cache(['notifications', Notifications::VERSION, notification]) do %>
<div id="notification-<%= notification.id %>"
     data-id="<%= notification.id %>"
     class="media notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
  <div class="media-left">
    <%= link_to user_avatar_tag(notification.actor, 32), main_app.user_path(notification.actor.username), title: notification.actor_name, class: 'avatar' %>
  </div>
  <div class="media-body">
    <%= render partial: "/notifications/#{notification.notify_type}", locals: { notification: notification } %>
  </div>
  <div class="media-right">
    <%= notification.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
</div>
<% end %>
