<!DOCTYPE html>
<html>
  <head>
    <title>锦城之家</title>
    <meta name=keywords content="<%= t 'seo.keywords' %>">
    <meta name=description content="<%= t 'seo.description' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default bg-nav">
      <div class="container">
        <div class="navbar-header">
          <%= link_to(main_app.root_path) do %>
            <%= image_tag 'logo.png', size: '36x36' %> 锦城之家
          <% end %>
        </div>

        <ul class="nav nav-body">
          <li><%= link_to '首页', main_app.root_path %></li>
          <li><%= link_to '论坛', main_app.topics_path %></li>
          <li>失物招领</li>
          <li>二手买卖</li>
          <li>兼职招聘</li>
        </ul>

        <div>
          <ul class="nav user-bar">
            <%= render user_signed_in? ? 'shared/user_nav' : 'shared/user_bar' %>
          </ul>
        </div>
      </div>      
    </nav>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <div class="flash-notice"></div>
    
    <%= yield %>

    <footer class="footer">
      蜀ICP备16035108号
    </footer>
  </body>
</html>
