<!DOCTYPE html>
<html>
  <head>
    <title>锦城之家</title>
    <meta name=keywords content="<%= t 'seo.keywords' %>">
    <meta name=description content="<%= t 'seo.description' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo_icon.png' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-fixed-top bg-nav">
        <div class="container">
          <div class="navbar-header">
            <%= link_to(main_app.root_path) do %>
              <%= image_tag 'logo.png', size: '120x33' %>
            <% end %>
          </div>

          <ul class="nav nav-body">
            <li><%= link_to '首页', main_app.root_path %></li>
            <li><%= link_to '论坛', main_app.topics_path %></li>
            <li><%= link_to '失物招领', main_app.resources_path %></li>
          </ul>

          <ul class="nav user-bar">
            <%= render user_signed_in? ? 'shared/user_nav' : 'shared/user_bar' %>
          </ul>
        </div>
      </nav>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <div class="flash-notice"></div>
    
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="media">
          <div class="media-left">
            <div class="title">锦城之家 <span class="url">jinchengzj.com</span></div>
            <div class="beian"><a href="http://www.miitbeian.gov.cn/">蜀ICP备16035108号</a></div>
          </div>
          <ul class="media-body">
            <li><a href="http://720yun.com/t/befjO7kkek7?from=singlemessage&pano_id=3246439" target="_blank">学院全景</a></li>
            <li><%= link_to '反馈', feedback_path %></li>
          </ul>
       </div>
      </div>
    </footer>
  </body>
</html>
