<!DOCTYPE html>
<html>
  <head>
    <title>锦城之家</title>
    <meta name=keywords content="锦城, 锦城学院, 锦城大学, 锦城之家, 锦城在线, 四川大学锦城学院">
    <meta name=description content="四川大学锦城学院论坛，记录你的学习生活，在这里，聊天交友、失物招领、二手买卖、兼职招聘等，应有尽有！">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default bg-nav">
      <div class="container">
        <div class="navbar-header">
          <%= link_to(root_path) do %>
            <%= image_tag 'logo.png', size: '36x36' %> 锦城之家
          <% end %>
        </div>

        <ul class="nav nav-body">
          <li><%= link_to '首页', root_path %></li>
          <li><%= link_to '论坛', topics_path %></li>
          <li>失物招领</li>
          <li>二手买卖</li>
          <li>兼职招聘</li>
        </ul>

        <div>
          <ul class="nav user-bar">
            <% if user_signed_in? %>
              <div class="cog"><%= link_to fa_icon('cog'), rails_admin_path if current_user.root? %></div>
              <div class="dropdown">
                <a class="dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class='nav-avatar'><%= user_avatar_tag(current_user, 36) %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to current_user.username, user_path(current_user.username), method: :get %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "个人设置", setting_path, method: :get %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to '退出登录', destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            <% else %>
              <li><%= button_to '注册', new_user_registration_path, method: :get, class: 'btn btn-default signup-btn' %></li>
              <li><%= button_to '登录', new_user_session_path, method: :get, class: 'btn btn-success login-btn' %></li>
            <% end %>
          </ul>
        </div>

      </div>      
    </nav>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <div class="flash-notice"></div>
    
    <%= yield %>
  </body>
</html>
